@media (min-width:320px) {
  * {
    margin: 0;
    padding: 0
  }
  body {
    box-sizing: border-box;
    font-family: Lato,Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 22px;
    color: #222;
    overflow-x: hidden
  }
  img {
    width: 100%;
    height: 100%
  }
  h1,
  h2,
  h3 {
    font-family: Raleway,Arial,Helvetica,sans-serif;
    text-transform: uppercase
  }
  .first-section {
    width: 100%;
    padding: 15px;
    background: url(../image/img-1.1.jpg);
    background-size: cover
  }
  .header {
    display: flex;
    justify-content: space-between;
    height: 30px
  }
  .logo {
    width: 90px;
    height: 13px
  }
  #check {
    visibility: hidden;
    position: absolute;
    top: -300px
  }
  .menu-label {
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
    transform: translateX(-10px);
    color: #fffefe
  }
  .burger {
    position: relative;
    display: inline-block;
    top: 3px;
    right: 0;
    width: 30px;
    height: 30px;
    cursor: pointer
  }
  .burger__line,
  .burger__line::after,
  .burger__line::before {
    display: block;
    position: absolute;
    width: 99%;
    top: 0;
    height: 3px;
    background-color: #fffefe;
    transition: all .3s ease-in-out
  }
  .burger__line::after,
  .burger__line::before {
    content: ""
  }
  .burger__line::before {
    top: 10px
  }
  .burger__line::after {
    top: 20px
  }
  .header__nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -150px;
    top: 0;
    height: 100%;
    background-color: #005494;
    visibility: hidden;
    display: none;
    transition: display .3s ease-in-out
  }
  .header__nav .link {
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fffefe;
    margin: 10px;
    transition: all .3s ease-in-out
  }
  .header__nav .link:hover {
    color: #222;
    background-color: #fffefe
  }
  #check:checked ~ .header__nav {
    right: 1px;
    visibility: visible;
    display: block;
    position: fixed;
    z-index: 99
  }
  #check:checked ~ .burger .burger__line {
    background-color: transparent
  }
  #check:checked ~ .burger .burger__line::before {
    top: 10px;
    transform: rotate(-45deg)
  }
  #check:checked ~ .burger .burger__line::after {
    top: 10px;
    transform: rotate(45deg)
  }
  .head-section {
    margin: 50px auto;
    color: #fffefe;
    text-align: center
  }
  .head-section .head-section__title {
    font-size: 24px;
    font-weight: 700;
    position: relative;
    margin: 30px auto;
    text-align: center;
    color: #fffefe
  }
  .head-section .head-section__title::after {
    content: "";
    position: absolute;
    background-color: #fffefe;
    margin: 25px auto;
    width: 93px;
    height: 1px
  }
  .head-section .head-section__title--white::after {
    transform: translate(-190px,16px);
    background-color: #fffefe
  }
  .head-section .head-section__description {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 70px
  }
  .first-section__btn {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    left: 37%;
    bottom: 0;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #808d92;
    transition: all .3s ease-in-out
  }
  .first-section__btn::after,
  .first-section__btn::before {
    content: "";
    position: absolute;
    transition: all .3s ease-in-out;
    width: 20px;
    height: 1px;
    background-color: #808d92
  }
  .first-section__btn::before {
    transform: rotate(50deg);
    top: 50%;
    left: 32.7%
  }
  .first-section__btn::after {
    left: 46%;
    top: 50%;
    transform: rotate(-50deg)
  }
}
@media (min-width:320px) {
  .head-section--about-us {
    color: #222;
    text-align: center;
    margin: 60px
  }
  .head-section--about-us .head-section__title--black {
    text-align: center;
    color: #222;
    position: relative;
    padding: 0;
    right: 15%
  }
  .head-section--about-us .head-section__title--black::after {
    position: absolute;
    background-color: #222;
    top: 30px;
    left: 90px
  }
  .quotation-phone {
    background: url(../image/img-3.jpg);
    background-size: cover;
    text-align: center;
    padding: 40px 40px 0 40px;
    color: #fffefe;
    overflow-y: hidden;
    position: relative
  }
  .quotation-phone .quotation__title {
    font-size: 20px;
    margin-bottom: 30px
  }
  .quotation-phone .quotation__description {
    font-size: 17px;
    margin: 30px 0 20px 0
  }
  .quotation-phone .quotation__link {
    color: #fffefe;
    transition: all .3s ease-in-out
  }
  .quotation-phone .quotation__link:hover {
    color: #808d92
  }
  .quotation-phone .phone {
    width: 170px;
    height: auto;
    position: relative;
    left: 22%;
    bottom: -60px
  }
}
@media (min-width:320px) {
  .work {
    text-align: center;
    padding: 20px
  }
  .head-section__title--black {
    margin: 50px auto;
    position: relative;
    transform: translateX(45px)
  }
  .head-section__title--black::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50px;
    right: 150px;
    margin: 25px auto;
    width: 93px;
    height: 1px;
    position: relative;
    background-color: #222
  }
  .content {
    display: none;
    width: 100%;
    height: auto;
    transition: all .3s ease-in
  }
  .work__label {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px
  }
  .label-radio {
    color: #808d92;
    text-transform: uppercase;
    font-size: 15px;
    transition: color .3s ease-in-out;
    margin: 10px
  }
  .label-radio:hover {
    color: #222
  }
  .photo-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
  }
  .photo-holder .photo {
    display: inline-block;
    position: relative;
    width: 45%;
    height: auto;
    margin: 5px;
    z-index: 3
  }
  input[type=radio] {
    visibility: hidden;
    position: absolute
  }
  #tab-btn1:checked ~ #content1,
  #tab-btn2:checked ~ #content2,
  #tab-btn3:checked ~ #content3,
  #tab-btn4:checked ~ #content4,
  #tab-btn5:checked ~ #content5 {
    display: block
  }
  .photo__hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(64,64,64,.8);
    color: #fffefe;
    transition: all .3s ease-in-out
  }
  .photo__hover span {
    color: #fffefe;
    font-size: 20px
  }
  .photo__hover .icon-link {
    font-size: 30px
  }
  .photo__hover:hover {
    cursor: pointer;
    opacity: 1
  }
  .work__btn {
    display: inline-block;
    width: 185px;
    height: 30px;
    background-color: transparent;
    text-transform: uppercase;
    margin: 20px auto;
    border: 2px solid #222;
    transition: all .3s ease-in-out
  }
  .work__btn:hover {
    background-color: #222;
    color: #fffefe
  }
}
@media (min-width:320px) {
  .clients {
    padding: 20px;
    background-color: #f4f4f4
  }
  line::after {
    transform: translateX(10%)
  }
  .head-section__title--black {
    color: #222
  }
  .head-section__title--black::after {
    background-color: #222;
    top: 50px;
    right: 100px
  }
  .clients__company-holder {
    display: flex;
    flex-wrap: wrap
  }
  .clients__company {
    width: 45%;
    height: 50px;
    margin: 10px auto
  }
  .clients__company img {
    filter: grayscale(1)
  }
  .speaking {
    background: url(../image/img-10.jpg);
    background-size: cover;
    padding: 20px 10px;
    height: 80px
  }
  .speaking blockquote {
    text-align: center;
    font-size: 16px;
    color: #fffefe;
    position: relative
  }
  .speaking blockquote p {
    margin-bottom: 20px
  }
  .speaking blockquote cite {
    font-size: 17px;
    position: relative;
    margin: 0 0 10px 70%
  }
}
@media (min-width:320px) {
  .services {
    padding: 10px
  }
  .services__holder {
    margin: 20px
  }
  .service {
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between
  }
  .service .service__img {
    width: 60px;
    height: auto;
    margin: 10px auto
  }
  .service .service__description {
    margin: 10px auto
  }
  .info {
    width: 100%;
    background: url(../image/img-14.jpg);
    background-size: cover;
    padding: 20px 10px 20px 10px;
    text-align: center
  }
  .info .info__holder {
    display: flex;
    flex-direction: column
  }
  .info .info__holder .info__card {
    display: flex;
    flex-direction: column;
    margin: 10px;
    color: #fffefe;
    text-transform: uppercase
  }
  .info .info__holder .info__card span + span {
    font-weight: 400;
    font-size: 20px
  }
  .info .info__holder .info__card > span {
    font-weight: 100;
    font-size: 40px
  }
}
@media (min-width:320px) {
  .skills {
    padding: 20px;
    display: flex;
    flex-direction: column
  }
  .skills__info {
    font-family: Lato,Arial,Helvetica,sans-serif;
    text-align: center;
    margin: 10px
  }
  .skills__info .skills__title {
    margin-bottom: 20px
  }
  .skills__info .skills__history {
    font-weight: 300;
    font-size: 15px
  }
  .skills__holder {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center
  }
  .skills__holder .skill {
    margin: 10px
  }
  .skills__holder .skill h4 {
    font-size: 14px;
    font-weight: 400;
    color: #808d92
  }
  .skills__holder .progress {
    margin: 0 auto;
    position: relative;
    width: 75%;
    height: 20px;
    background-color: #eee;
    border-radius: 33px
  }
  .skills__holder .progress .skill__scale {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    width: 0;
    height: 100%;
    border-radius: 33px;
    background-color: #005494;
    transition: width .5s ease-out
  }
  .skills__holder:hover .skill__scale--photoshop {
    width: 94%
  }
  .skills__holder:hover .skill__scale--illustrator {
    width: 96%
  }
  .skills__holder:hover .skill__scale--html {
    width: 82%
  }
  .skills__holder:hover .skill__scale--css {
    width: 75%
  }
  .skills__holder:hover .skill__scale--javascript {
    width: 50%
  }
}
@media (min-width:320px) {
  .touch {
    background: url(../image/img-15.jpg);
    background-size: cover;
    padding: 20px
  }
  #title-touch {
    position: relative
  }
  #title-touch::after {
    content: "";
    position: absolute;
    background-color: #fffefe;
    margin: 25px auto;
    transform: translate(-129px,16px);
    width: 93px;
    height: 1px
  }
  .touch__icon-holder {
    margin: 0 auto;
    height: auto;
    text-align: center
  }
  .touch__icon-holder a {
    text-decoration: none;
    color: #fffefe;
    transition: all .3s ease-in-out;
    margin: 10px
  }
  .touch__icon-holder a span {
    font-size: 30px
  }
  .touch__icon-holder a:hover {
    color: #005494
  }
  .form {
    display: flex
  }
  .touch input {
    width: 40%;
    height: 35px;
    margin: 10px;
    padding: 5px 0 5px 10px;
    background-color: transparent;
    outline: 0;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #fffefe;
    transition: background-color .3s ease-in-out
  }
  .touch input::-moz-placeholder {
    font-style: italic
  }
  .touch input:-ms-input-placeholder {
    font-style: italic
  }
  .touch input::placeholder {
    font-style: italic
  }
  .touch input:focus {
    background-color: #fff
  }
  input[placeholder=Message] {
    width: 90%
  }
  .work__btn--touch {
    position: relative;
    left: 20%;
    margin: 0 auto;
    border: 2px solid #fffefe;
    color: #fffefe;
    transition: all .3s ease-in-out
  }
  .work__btn--touch:hover {
    color: #222;
    background-color: #fffefe
  }
}
@media (min-width:768px) {
  .first-section {
    width: 96%
  }
  .head-section {
    margin: 80px 138px
  }
  .first-section__btn {
    left: 46%
  }
  .head-section__title--black {
    right: 6%
  }
  .quotation-phone .phone {
    left: 37%;
    bottom: -15px
  }
  .work__label {
    justify-content: space-evenly;
    margin: 20px
  }
  .photo-holder .photo {
    width: 30%
  }
  .clients__company {
    width: 26%
  }
  .speaking {
    padding: 40px 120px
  }
  .info {
    padding: 40px
  }
  .info .info__holder {
    flex-direction: row
  }
  .skills-info {
    text-align: start
  }
  .skillz-holder {
    display: flex;
    justify-content: space-between
  }
  .skill {
    position: relative
  }
  .skill h4 {
    text-align: start
  }
  .progress {
    width: 50%
  }
  .touch input {
    width: 42.4%
  }
  input[placeholder=Message] {
    width: 90%
  }
  .work__btn--touch {
    margin: 20px auto;
    left: 36%
  }
}
@media (min-width:991px) {
  .first-section {
    width: 98%;
    padding: 60px 24px 0 24px
  }
  .logo {
    width: 75px
  }
  .menu-label {
    display: none
  }
  .burger {
    display: none
  }
  .header__nav {
    right: 30px;
    top: 0;
    height: 100%;
    background-color: transparent;
    visibility: visible;
    display: flex;
    flex-direction: row;
    position: relative
  }
  .header__nav .link {
    font-size: 15px;
    font-weight: 400
  }
  .head-section .head-section__title {
    margin: 103px auto
  }
  .head-section .head-section__title::after {
    margin: 50px auto
  }
  .head-section--about-us .head-section__title--black {
    right: 0
  }
  .head-section .head-section__description {
    font-size: 22px
  }
  .quotation-phone {
    margin-left: 0;
    margin-top: 120px;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
  }
  .quotation {
    position: relative;
    transform: translate(100px, 232px);
  }
  .quotation-phone .quotation__title {
    font-size: 45px;
    margin: 2% 0 2% 0
  }
  .quotation-phone .quotation__description {
    font-size: 22px;
    font-weight: 100;
    margin: 60% 0 72px 70px
  }
  .quotation-phone .phone {
    width: 254px;
    left: 60%;
    bottom: -5px
  }
  .head-section__title--black {
    right: 0
  }
  .head-section__title--black::after {
    top: 60px;
    right: 133px
  }
  .label-radio {
    font-size: 18px
  }
  .work {
    text-align: center;
    padding: 87px
  }
  .work__btn {
    margin-top: 60px;
    margin-bottom: 0
  }
  .clients {
    padding: 90px
  }
  .clients__company {
    width: 15%
  }
  .speaking {
    padding: 100px 120px
  }
  .speaking blockquote p {
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 100
  }
  .speaking blockquote cite {
    font-size: 21px;
    font-style: normal;
    font-family: Raleway;
    font-weight: 700
  }
  .head-section__title--black::after {
    right: 145px
  }
  .services {
    padding: 80px
  }
  .services__holder {
    margin: 100px
  }
  .service__head {
    margin: 20px
  }
  .service__head h3 {
    margin: 20px
  }
  .service__head p {
    margin: 10px
  }
  .info .info__holder {
    flex-direction: row;
    justify-content: center
  }
  .skills__info {
    text-align: start
  }
  .skills__holder .progress {
    width: 100%;
    position: relative;
    right: 5px
  }
  .skills {
    padding: 70px
  }
  .touch input {
    width: 43.4%
  }
  input[placeholder=Message] {
    width: 90%
  }
}